# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# venv
venv/

# JM encoder/decoder build
JM/bin/*.exe
JM/bin/*.txt

# files
files/in/*.txt
files/MAYO
files/out
files/temp

# MAYO compiled
process/MAYO/keygen
process/MAYO/sign
process/MAYO/verify